foxy-mailerlite.json
{
  "name": "Add Subscribers in MailerLite",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "transaction"
      },
      "type": "n8n-nodes-base.foxyApiTrigger",
      "typeVersion": 1.1,
      "position": [-624, -240],
      "id": "81e7b0ad-15eb-48ee-8cc6-ff387208a8f2",
      "name": "Foxy New Transaction",
      "webhookId": "",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a66f88e2-0a8d-401c-85cf-a16dee669fdd",
              "leftValue": "={{ $json._embedded['fx:custom_fields'].find((field) => field.name === 'newsletter_subscribe')?.value }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-400, -240],
      "id": "00e27070-391c-4206-9211-76fdfc0af611",
      "name": "If Subscribe to Newsletter Checkbox Is Checked"
    },
    {
      "parameters": {
        "email": "={{ $('Foxy New Transaction').item.json.customer_email }}",
        "additionalFields": {
          "status": "active"
        }
      },
      "type": "n8n-nodes-base.mailerLite",
      "typeVersion": 2,
      "position": [-176, -240],
      "id": "8da4b141-4bfd-403e-a9fc-f62740b2af55",
      "name": "Create A Subscriber",
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Foxy New Transaction": {
      "main": [
        [
          {
            "node": "If Subscribe to Newsletter Checkbox Is Checked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Subscribe to Newsletter Checkbox Is Checked": {
      "main": [
        [
          {
            "node": "Create A Subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a17f61d-a8cf-46e4-8850-bb71a9e09d2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c580f68f8c5662bb01ab08a22eca5077155cb5053c7cf450947b33d8d66818f"
  },
  "id": "yaQ3nzy9AwtlqaYC",
  "tags": []
}
